/* Dejamos en claro que colores vamos a utilizar */
:root{
    --primary: #2d8131;
    --blanco: #ffffff;
    --gris: #efefef;
}
/* Editamos el body */
body{
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    color: var(--primary);
}
/* Con esta clase le quitamos la linea por defecto a las etiquetas; a */
a:hover{
    text-decoration: none;
}
/* *************************************************************************** */

/* Activamos o desactivamos esta clase para cambiar los colores por defecto de Boostrap */
.bg-primary{
    background-color: var(--primary) !important;
}
.bg-light{
    background-color: var(--blanco) !important;
}
.btn-primary{
    background-color: var(--primary) !important;
}
.btn-primary:hover{
    background-color: var(--primary) !important;
}
.btn{
    border: 0 !important;
}
.bg-mix{
    background: linear-gradient(180deg, var(--blanco) 50%, var(--gris)0);
}
/* *************************************************************************** */

#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .logo{
    padding: .875rem 1.25rem;
}
#sidebar-container .menu{
    width: 18rem;
}
.btn-buscar{
    right: 5px;
}
.avatar{
    max-width: 35px;
}

#content{
    overflow-y: hidden;
    height: 100vh;
    padding-bottom: 5rem;
}
.stat{
    border-right: 1px solid var(--gris);
}
/* paginador*/
.paginador ul{
    padding: 15px;
    list-style: none;
    background: #fff;
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    }
    .paginador a, .pageSelected{
        color: blue;
        border: 1px solid #ddd;
        padding: 5px;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        width: 35px;
    }
    .paginador a:hover{
        background: #ddd;
    }
    .buscar-a-izquierda{
        padding-right: 200px;
    }
